/* ----------------------------------------- */
/* FULL PAGE */
/* ----------------------------------------- */
body {
    box-sizing: border-box;
    width: 500px;
    margin: 0 auto;
    border: 6px solid #000000;
    font-family:  Helvetica, sans-serif;
    border-top: 5px solid #000000;
    font-size: 30px;
    height: 100vh;
}

.container {
    background-color: #000;
    overflow: hidden;
    height: 100%;
}

/* ----------------------------------------- */
/* HEADER */
/* ----------------------------------------- */
.header {
    color: #fff;
    height: 35%;
}

.header-content-1 {
/*
    position: relative;
    bottom: 5px;
*/
    display: flex;
    justify-content: space-between;
    font-size: 40%;
}

.header-content-1 .battery{
/*
    position: relative;
    left: 70%;

    display: inline-block;*/
    transform: rotate(90deg);
    -ms-transform: rotate(90deg); 
    -webkit-transform: rotate(90deg);
}  

.header-content-1 > div {
    align-self: center;
}

.front span {
    position: relative;
    bottom: 5px;
}

.front .wifi-symbol {
    position: relative;
    left: 8%;
}

.timer {
    position: relative;
    right: 20px;
}

.calculator-value {
    min-height: 100%;
/*    padding: 4px;*/
    position: relative;
}

#value-content {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 2rem;
    padding-right: 2%;
    font-size: 280%;
    font-family: 'Lato', sans-serif;
}

/* ----------------------------------------- */
/* KEYPAD */
/* ----------------------------------------- */
.calculator-keypad {
    width: 100%;
    height: 65%;
}

.keypad-view {
    width: 100%;
    /*margin: 10px;*/
    height: 100%
}

.keys {
    width: 100%;
    height: 100%
}

.key {
    float: left;
    width: 24.25%;
    border: 1px solid #000000;
    background-color: #cfd0d2;
    color: #000000;
    text-decoration: none;
    text-align: center;
    height: 20%;
    font-size: 180%;
/*    font-family: 'Open Sans', sans-serif;*/
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-0 {
    width: 49%;
}

.key span {
    position: relative;
/*    top: 25px;*/
    font-style: italic;
    font-weight: 400;
}

.key:nth-child(4n), .key:nth-last-child(1) {
    background-color: #f57a12;
    color: #ffffff;
}

.key:nth-of-type(1), .key:nth-of-type(2), .key:nth-of-type(3) {
    background-color: #c1c2c4;
}

@media only screen and (max-width: 1024px) and (min-width: 990px) {
    body {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    #value-content {
        font-size: 17vw;
    }

    
    .key {
        height: 20%;
        font-size: 180%;
        width: 24.65%;
    }
        
    .btn-0 {
        width: 49.5%;
    }
}

@media only screen and (max-width: 989px) and (min-width: 768px) {
    body {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    #value-content {
        font-size: 17vw;
    }

    .key {
        height: 20%;
        font-size: 180%;
        width: 24.65%
    }
            
    .btn-0 {
        width: 49.6%;
    }
}

@media only screen and (max-width: 767px) {
    body {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .front .wifi-symbol {
        position: relative;
        left: 3px;
    }

    .timer {
        position: relative;
        right: 20px;
    }
    
    .btn-0 {
        width: 49%;
    }
    
    #value-content {
        font-size: 17vw;
    }
    
    .key {
        height: 20%;
        font-size: 180%;
    }
    
    .calculator-value {
        /*min-height: 200px;*/
    }
}

@media only screen and (max-width: 575px) {
    body {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .front .wifi-symbol {
        position: relative;
        left: 3px;
    }

    .timer {
        position: relative;
        right: 20px;
    }
    
    .btn-0 {
        width: 49%;
    }
    
    #value-content {
        font-size: 17vw;
        padding-bottom: 2rem;
    }
    
    .key {
        height: 20%;
        font-size: 130%;
    }
    
    .calculator-value {
/*        min-height: 200px;*/
    }
}

    
    